<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    {% if name %}
    <thead>
    <tr>
        <td>
            {{name}}
        </td>
    </tr>
    <tr>
        <td>
            {{lname}}
        </td>
    </tr>
    <tr>
        <td>
            {{email}}
        </td>
    </tr>
    <tr>
        <td>
            {{pnumber}}
        </td>
    </tr><tr>
        <td>
            {{tot}}
        </td>
    </tr><tr>
        <td>
            {{cot}}
        </td>
    </tr><tr>
        <td>
            {{dc}}
        </td>
    </tr><tr>
        <td>
            {{destcount}}
        </td>
    </tr><tr>
        <td>
            {{text}}
        </td>
    </tr><tr>
        <td>
            {{Time}}
        </td>
    </tr><tr>
        <td>
            {{text2}}
        </td>
    </tr><tr>
        <td>
            {{Time2}}
        </td>
    </tr><tr>
        <td>
            {{aair}}
        </td>
    </tr><tr>
        <td>
            {{numlug}}
        </td>
    </tr><tr>
        <td>
            {{al_name}}
        </td>
    </tr><tr>
        <td>
            {{fligh_num}}
        </td>
    </tr><tr>
        <td>
            {{noa}}
        </td>
    </tr><tr>
        <td>
            {{noc}}
        </td>
    </tr><tr>
        <td>
            {{hotel}}
        </td>
    </tr><tr>
        <td>
            {{how}}
        </td>
    </tr><tr>
        <td>
            {{number2}}
        </td>
    </tr><tr>
        <td>
            {{text3}}
        </td>
    </tr><tr>
        <td>
            {{msg}}
        </td>
    </tr>
    </thead>
    {%else%}
    <tr>Helolo ples give data</tr>
    {%endif%}
</table>
</body>
</html>